[user]
	name = Seva Ivanov
	email = seva@tumahn.net
[push]
	default = simple
[diff]
	tool = meld
[alias]
	adog = log --all --decorate --oneline --graph
	adog2 = log --graph --abbrev-commit --decorate --date=relative --all
