[submodule "notes"]
	path = git/public/notes
	url = https://github.com/sevaivanov/notes
[submodule ".conky/widgets"]
	path = .conky/widgets
	url = https://github.com/sevaivanov/conky-widgets
[submodule "GitHub/public/small-projects"]
	path = git/public/small-projects
	url = https://github.com/sevaivanov/small-projects
[submodule "GitHub/public/tumahn.net"]
	path = git/public/tumahn.net
	url = https://github.com/sevaivanov/tumahn.net
[submodule "git/public/livecoding"]
	path = git/public/livecoding
	url = https://github.com/sevaivanov/livecoding
