# gnome-shell
# 3.28.2-1: Not an X11 display.
# then, you can logout and login in with Gnome Shell on XORG
systemctl start --user devilspie

# AwesomeVM
#exec awesome

# Irssi
systemctl start --user irssi-libnotify

# Desktop widgets
#conky -qd -c ~/.conky/widgets/clock-rings/conkyrc
#conky -qd -c ~/.conky/widgets/sysinfo/conkyrc
