# User services
systemctl start --user devilspie
systemctl start --user irssi-libnotify

# Desktop widgets
#conky -qd -c ~/.conky/widgets/clock-rings/conkyrc
#conky -qd -c ~/.conky/widgets/sysinfo/conkyrc
